html {
  height: 100%;
  width: 100%;
}

body {
  font-family: georgia;
}

a {
  color: rgb(128, 89, 45)
}

a:hover {
  color: #ffcc24
}

header {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(92, 64, 32)
}

header h1 {
  font-size: 2em;
}

header nav ul li {
  display: inline;
}

.clear {
  clear: both;
}
#project-container, #aboutme {
  margin: 0 auto; /* centers projects div */
  width: 90%; /* adds space on either side */
  max-width: 600px ; /* keeps div from getting too wide */
}

.project {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(92, 64, 32);
}

.project img, #aboutme img {
  width: 250px;
  float; left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.project h2, #aboutme h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
/* Old color (214, 212, 191)
  New color (237, 227, 187)
*/

body,
#aboutme {
  background-color: rgb(237, 227, 187);
}

img {
  border: 2px solid #5c4020;
}

.ai-project-container {
  text-align: center; /* Center align the content within the .ai-project-container class */
}

.project {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(92, 64, 32);
}

.project img {
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.project h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}